#colH3 {
    color: blue;
}

h2.st1 {
    color: red;
    text-decoration: underline;
}

.st2 {
    color: purple;
    font-style: italic;
}

.col1 {
    color: gray;
}

.col2 {
    color: brown;
}

.size1 {
    font-size: 2em;
}

.sty1 {
    font-style: italic
}

.trans1 {
    text-transform: uppercase;
}

p {
    color: blue;
}